    .popup {
    justify-content: center;
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}
.load-wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.popup-content {

    justify-content: center;
    text-align: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
    height: 200px;
    border-radius: 15px; /* Rounded corners */
    display: flex; /* Added to use flexbox */
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
}
body.dark-mode .popup {
    justify-content: center;
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Darker background for dark mode */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

body.dark-mode .popup-content {
    justify-content: center;
    text-align: center;
    background-color: #333; /* Darker background for content */
    color: #f1f1f1; /* Light text color for dark mode */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
    height: 200px;
    border-radius: 15px; /* Rounded corners */
    display: flex; /* Added to use flexbox */
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
}
.close-button {
    background-color: var(--color-bg-button);
    color: var(--color-text-dark);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px; /* Add some space above the button */
}

.dark-mode .close-button {
    background-color: var(--color-bg-button-dark);
}

.close-button:hover, .dark-mode .close-button:hover {
    background-color: var(--color-bg-button-hover);
}
h1 {
    font-size: 2rem; /* Adjust the font size */
    font-weight: bold; /* Make the font bold */
    color: #333; /* Set the text color */
    text-align: center; /* Center the text */
    margin-bottom: -1px; /* Add some space above the h1 */
    max-width: 400px;

}
body.dark-mode h1 {
    color: #FFF;
}

/* Styles for p */
p {
    font-size: 1rem; /* Adjust the font size */
    line-height: 1.5; /* Set the line height for better readability */
    color: #666; /* Set the text color */
    text-align: center; /* Center the text */
    margin: 1px 0; /* Add some space above and below the p elements */
        max-width: 400px;
}
p a {
    color: #2a9d8f; /* Change to your desired link color */
    text-decoration: underline; /* Optional: underline the link */
}

p a:hover {
    color: #1C8078; /* Change to your desired hover color */
    text-decoration: none; /* Optional: remove underline on hover */
}
.nav-links a.active, body.dark-mode .nav-links a.active {
    color: #2a9d8f; /* Active link text color */
}
.dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        min-width: 200px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        border-radius: 8px;
        overflow: hidden;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        transition: background-color 0.3s, color 0.3s;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1;
        color: #2a9d8f;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Dark mode styles for dropdown */
    body.dark-mode .dropdown-content {
        background-color: #444;
    }

    body.dark-mode .dropdown-content a {
        color: #f1f1f1;
    }

    body.dark-mode .dropdown-content a:hover {
        background-color: #555;
        color: #2a9d8f;
    }